.alert-section {
  background-color: #8bbcec;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.alert-content {
  background-color: #fff;
  border-radius: 16px;
  padding: 70px 30px;
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 30px;
}

.alert-message {
  max-width: 500px;
  color: #000;
}

.alert-message h2 {
  font-size: 26px;
  margin: 10px 0;
}

p.alert-message-text {
  padding: 0 10px;
}

.verify-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 22px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 120px;
  transition: all 0.3s ease;
  width: 250px;
}

.verify-button:hover {
  background-color: #000;
  color: #fff;
}

.illustration {
  flex: 1;
  display: flex;
  justify-content: center;
}

.illustration img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.illustration img:hover {
  transform: scale(1.15);
}
