.footer {
  background-color: #2d2d2df1;
  padding: 1rem 2rem;
  font-family: sans-serif;
  border-top: 1px solid #ddd;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.footer-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-link {
  background: none;
  border: none;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  white-space: nowrap;
  outline: none;
}

.footer-link:hover {
  color: #000; /* Cor do texto quando passar o mouse */
}

.footer-link:focus {
  outline: none; /* Removendo o contorno azul no foco */
}

.footer-separator {
  color: #ffffff;
}

.footer-divider {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #ddd;
}

.footer-copy {
  text-align: center;
  font-size: 0.9rem;
  color: #fff5f5;
}
