.header {
  background-color: #ffffff;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.header h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

div.illustration-logo {
  display: flex;
  justify-content: left;
  width: 50%;
}

.nav-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.nav-btn:hover {
  background-color: #8bbcec;
  color: #000000;
  transform: scale(1.05);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

div.illustration-logo img {
  width: 40%;
  height: auto;
}